[Unit]
Description=CDA - Controle de Acesso
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/home/pi/rpi-app

[Service]
WorkingDirectory=/usr/local/

User=cda-user
Group=cda-user

PermissionsStartOnly=true

EnvironmentFile=-/etc/default/cda

ExecStart=/home/pi/rpi-app
Restart=on-success

StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop CDA
KillSignal=SIGTERM

SendSIGKILL=no

SuccessExitStatus=0

[Install]
WantedBy=multi-user.target